### BEGIN INIT INFO
# Provides:          FLORMIGA PYTHON
# Required-Start:    $all
# Required-Stop:
# Default-Start:     2 3 4 5
# Default-Stop:
# Short-Description: your description here
### END INIT INFO

[Unit]
Description=Button Trigger
After=multi-user.target

[Service]
User=pi
WorkingDirectory=/home/pi/Flormiga/
ExecStart= /usr/bin/python3 flormiga.py
Restart=on-failure

[Install]
WantedBy=multi-user.target